
body,
html {
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	color: #283136;
	min-width: 900px;
	background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.page-header {
	min-height: 440px;
	margin-bottom: 81px;
	background-color: #eeeeee;
	
}

.container {
	width: 900px;
	margin: 0 auto;
	padding: 0 10px;
}

.header-top {
	float: left;
	width: 880px;
	margin-bottom: 60px;
	margin-top: 28px;
}

.header-logo {
	float: left;
	margin-right: 10px;
}

.header-navigation {
	float: left;
	padding-left: 160px;
}

.layout-navigation {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0;
}

.layout-navigation li {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 30px;
	text-transform: uppercase;
}

.layout-navigation a {
	display: block;
	padding: 28px 50px 0 0;
	text-decoration: none;
	color: #000000;
}

.layout-navigation a:hover,
.cart a:hover {
	color: #f87f81;
}

.layout-navigation a:active,
.cart a:active {
	color: #a8a8a8;
	opacity: 0.4;
}

.cart {
	float: right;
	max-width: 125px;
	padding: 0;
	margin: 0;
	font-size: 0;
	margin-right: 0;
	
}

.cart a {
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 28px 10px 0 30px;
	text-decoration: none;
	color: #000000;
	font-size: 14px;
	line-height: 30px;
	text-transform: uppercase;
}

.cart a::before {
	content: "";
	position: absolute;
	top: 28px;
	left: 0;
	width: 16px;
	height: 20px;
	background: transparent url("../img/sprite.png") no-repeat;
	background-position: -8px -4px;
	opacity: 0.3;
}

.cart a:hover::before {
	content: "";
	position: absolute;
	top: 28px;
	left: 0;
	width: 16px;
	height: 20px;
	background: transparent url("../img/sprite.png") no-repeat;
	background-position: -8px -39px;
}

.cart a:active::before {
	content: "";
	position: absolute;
	top: 28px;
	left: 0;
	width: 16px;
	height: 20px;
	background: transparent url("../img/sprite.png") no-repeat;
	background-position: -8px -4px;
	opacity: 1.5;
}


.header-slider {
	float: left;
	width: 880px;
	padding-bottom: 70px;
}

.header-bottom {
	float: left;
	width: 880px;
	margin-bottom: 80px;
	margin-left: 110px;
}

.features {
	margin-bottom: 80px;
}

.features-item {
	float: left;
  width: 240px;
	margin-right: 80px;
	text-align: left;
}

.features-item:last-child {
	margin-right: 0;
}

.features-title {
	margin: 0;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	margin-top: 25px;
	padding-bottom: 18px;
}

.features-text {
	margin: 0;
	padding-bottom: 28px;
	font-size: 15px;
	line-height: 22px;
}

.features-buttons {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	padding: 10px 40px;
	color: #ffffff;
	font-size: 12px;
	line-height: 18px;
	font-family: 'Roboto', 'Arial', sans-serif;
	text-transform: uppercase;
	border: none;
  outline: none;
	text-decoration: none;
}

.features-buttons.red {
	background-color: #fb565a;
}

.features-buttons.red:hover {
	background-color: #d6494d;
}

.features-buttons.red:active {
	background-color: #b63538;
}

.features-buttons.green {
	background-color: #00ca74;
}

.features-buttons.green:hover {
	background-color: #01a25e;
}

.features-buttons.green:active {
	background-color: #009053;
}

.features-buttons.yellow {
	background-color: #efc84a;
}

.features-buttons.yellow:hover {
	background-color: #d6ae2c;
}

.features-buttons.yellow:active {
	background-color: #c09b24;
}

.about-us {
	padding-top: 59px;
	padding-bottom: 74px;
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
}

.about-us-left {
	float: left;
	width: 572px;
}

.about-us-title {
	margin: 0;
	padding-bottom: 20px;
	font-size: 36px;
	line-height: 36px;
}

.about-us-text {
	margin: 0;
	font-size: 16px;
	line-height: 22px;
	padding-bottom: 46px;
}

.about-us-subtitle {
	margin: 0;
	padding-bottom: 26px;
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
}

.about-us-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.about-us-list li {
	font-size: 16px;
	line-height: 22px;
	padding-bottom: 27px;
}

.about-us-list li:before {
	content: "";
	float: left;
	margin: 9px 10px 0 0;
	width: 25px;
	height: 2px;
	background-color: #fb565a;
}

.about-us-right {
	float: right;
	width: 243px;
	margin-right: 0;
}

.about-us-right p {
	padding-top: 55px;
}

.portfolio-list {
	margin-top: 46px;
	list-style: none;
	padding-bottom: 35px;
	border-bottom: 2px solid #eeeeee;
}

.portfolio-list li {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	opacity: 0.2;
}

.portfolio-list li:nth-child(2) {
	margin-right: 124px;
	margin-left: 120px;
}

.portfolio-list li:hover,
.portfolio-list li:active {
	opacity: 1.0;
}

.map {
	position: relative;
	margin-top: 85px;
}

.layout-map {
	background-color: #e9e5dc;
}

.point-map {
	position: absolute;
	bottom: 30%;
	right: 14%;
	width: 225px;
	height: 190px;
	padding-right: 34px;
}

.map-contacts {
	position: absolute;
	bottom: 25%;
	left: 27%;
	padding: 30px 23px 26px;
	width: 208px;
	height: 200px;
	background-color: #ffffff;
}

.map-contacts b {
	margin: 0;
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;
}

.map-adress,
.map-phon {
	margin: 0;
	font-size: 16px;
	line-height: 20px;
	color: #b8b8b8;
}

.map-adress {
	margin-top: 13px;
}

.map-phon {
	margin-top: 23px;
	margin-bottom: 33px;
}

.button {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	padding: 12px 55px;
	color: #ffffff;
	font-size: 12px;
	line-height: 18px;
	font-family: 'Roboto', 'Arial', sans-serif;
	text-transform: uppercase;
	border: none;
  outline: none;
	text-decoration: none;
	background-color: #fb565a;
}

.layout-map {
	width: 100%;
}

.page-footer {
	margin-top: 77px;
	margin-bottom: 74px;
}

.footer-social {
	float: left;
	text-align: center;
}

.footer-social a {
	margin: 0;
	margin-right: 30px;
}

.footer-social a:last-child {
	margin-right: 0;
}

.social-btn {
	display: inline-block;
	vertical-align: middle;
	width: 63px;
	height: 62px;
	font-size: 0;
	border-radius: 50px;
}

.social-btn-vk {
	background-image: url("../img/icon-vk1.png")
}

.social-btn-fb {
	background-image: url("../img/icon-facebook.png");
}

.social-btn-inst {
	background-image: url("../img/icon-instagramm.png")
}

.social-btn-vk:hover {
	background-image: url("../img/icon-vk-nav.png");
}

.social-btn-fb:hover {
	background-image: url("../img/icon-facebook-nav.png");
}

.social-btn-inst:hover {
	background-image: url("../img/icon-instagramm-nav.png");
}

.social-btn-vk:active {
	background-image: url("../img/vk-push.png");
}

.social-btn-fb:active {
	background-image: url("../img/facebook-push.png");
}

.social-btn-inst:active {
	background-image: url("../img/instagramm-push.png");
}

.footer-friend {
	float: left;
	margin-left: 70px;
	padding-left: 10px;
}

.friend-invite {
	margin: 0;
	font-size: 36px;
	line-height: 36px;
}

.friend-discount {
	margin: 0;
	padding-top: 9px;
	font-size: 16px;
	line-height: 32px;
	color: #283136;
}

.filter {
	float: left;
	width: 240px;
	margin-right: 80px;
}

.filter-title {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	margin-top: 47px;
}

.filter-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

input[type="checkbox"],
input[type="radio"] {
	display: none;
}

input[type="radio"] + label,
input[type="checkbox"] + label{
	display: block;
	margin-bottom: 17px;
	font-size: 16px;
	line-height: 20px;
	color: #283136;
	padding-left: 36px;
	position: relative;
	cursor: pointer;
	width: 180px;
}

input[type="radio"] + label::before {
	content: "";
	display: block;
	background: url(../img/sprite.png) no-repeat;
	width: 25px;
	height: 27px;
	position: absolute;
	top: -2px;
	left: 0;
	background-position: -10px -252px;
}

input[type="radio"]:checked + label::after {
	content: "";
	display: block;
	background: url(../img/sprite.png) no-repeat;
	width: 25px;
	height: 27px;
	position: absolute;
	top: -2px;
	left: 0;
	background-position: -10px -342px;
}

input[type="radio"] + label:hover::before,
input[type="radio"]:checked + label:hover::after {
	color: #000000;
}

input[type="radio"].disabled,
input[type="radio"]:disabled {
  opacity: 0.3;
}

input[type="checkbox"] + label::before {
	content: "";
	display: block;
	background: url("../img/sprite.png") no-repeat;
	position: absolute;
	top: -2px;
	left: 0px;
	width: 25px;
	height: 27px;
	background-position: -10px -80px;
}

input[type="checkbox"]:checked + label::after {
	content: "";
	display: block;
	background: url("../img/sprite.png")  no-repeat;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 25px;
	height: 27px;
	background-position: -11px -168px;
}

input[type="checkbox"].disabled,
input[type="checkbox"]:disabled{
  opacity: 0.3;
}

/* Для состояния "блокировано"
label p,
label p:disabled {
  opacity: 0.4;
}
*/

.content-catalog {
	float: left;
	width: 560px;
}

.sorting {
	margin-bottom:  20px;
}

.sorting-menu {
	list-style: none;
}

.sorting-title {
	float: left;
	margin-right: 40px;
}

.sign-down {
	float: left;
	margin-left: 55px;
}
.sign-up {
	float: right;
	margin-right: 0px;
	margin-left: 7px;
}

.layout-sorting a {
	float: left;
	padding-right: 40px;
}

.catalog {
	width: 560px;
	margin-bottom: 80px;
}

.item {
	padding: 0;
	margin: 0;
	width: 560px;
}

.layout-item {
	display: inline-block;
	vertical-align: top;
	width: 240px;
	margin-right: 70px;
	margin-bottom: 80px;
}

.layout-item:nth-child(2n) {
  margin-right: 0;
}

.pagination {
	margin-top: 80px;
}

.pages {
	list-style: none;
	padding: 0;
	margin: 0;
}

.layout-pages {
	display: inline-block;
	line-height: 40px;
	min-width: 38px;
	text-align: center;
  vertical-align: middle;
}

.layout-pages:last-child {
	min-width: 140px;
}

h1 {
	display: inline-block;
	vertical-align: middle;
	font-size: 40px;
	font-family: 'Roboto', 'Arial', sans-serif;
	line-height: normal;
	font-weight: normal;
	color: #000000;
	max-width: 700px;
	text-align: center;
}


h2 {
	font-size: 36px;
	font-family: roboto, serif;
	line-height: 36px;
	font-weight: normal;
	color: #000000;
}

.sprite {
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  display: block;
}

