
body,
html {
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	font-weight: 500;
	color: #283136;
	min-width: 900px;
	background-color: #ffffff;
  margin: 0;
  padding: 0;
}

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-nerds";
  src: url("../fonts/symbols-nerds.woff") format("woff"),
       url("../fonts/symbols-nerds.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-nerds";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.page-header {
	margin-bottom: 81px;
	background-color: #eeeeee;
	padding-bottom: 70px;
}

.container {
	width: 900px;
	margin: 0 auto;
	padding: 0 10px;
}

.header-top {
	margin-bottom: 50px;
	padding-top: 28px;
}

.header-logo {
	float: left;
	margin-right: 10px;
}

.header-navigation {
	float: left;
	padding-left: 160px;
}

.header-navigation .active {
	position: relative;
  background-color: none;
}

.header-navigation .active::after {
	content: "";
  position: absolute;
	right: 50px;
  bottom: 0;
  left: 0;
  height: 2px;

  background-color: #fb565a;
}

.layout-navigation {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0;
}

.layout-navigation li {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
}

.layout-navigation a {
	display: block;
	padding: 28px 50px 0 0;
	text-decoration: none;
	color: #000000;
}

.layout-navigation a:hover,
.cart a:hover {
	color: #f87f81;
}

.layout-navigation a:active,
.cart a:active {
	color: #a8a8a8;
	opacity: 0.4;
}

.cart {
	float: right;
	max-width: 125px;
	padding: 0;
	margin: 0;
	font-size: 0;
	margin-right: 0;
	color: #000000;
	
}

.cart a {
	display: inline-block;
	vertical-align: top;
	padding: 28px 10px 0 0;
	text-decoration: none;
	color: #000000;
	font-size: 14px;
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
}

.cart span {
	font-size: 16px;
	opacity: 0.30;
	padding-right: 15px;
}

.header-slider {
	position: relative;
}

.header-bottom {
	text-align: center;
}

.slider-inner {
	width: 880px;
	margin: 0 auto;
}

.slide {
	min-height: 310px;
	background-repeat: no-repeat;
	background-position: 100% 10px;
}

.slide-text {
	width: 500px;
	padding: 30px 0;
}

.slide-title {
	font-size: 36px;
	font-weight: 500;
	line-height: 36px;
}

.slide p {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #283136;
}

.slide-btn {
	display: block;
	width: 220px;
	margin-top: 30px;
	padding: 11px 10px;
	border-radius: 3px;
	font-size: 12px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	background-color: #fb565a;
}

.slide:first-child {
	background-image: url("../img/slider-1.png");
}

.slide:nth-child(2) {
	background-image: url("../img/slider-2.png");
}

.slide:last-child {
	background-image: url("../img/slider-3.png");
}

.slider input[type="radio"] {
  display: none;
}

.slider-controls {
	position: absolute;
	width: 200px;
	bottom: 85px;
	left: 50%;
	margin-left: -100px;
	text-align: center;
}

.slider-controls label {
	display: inline-block;
	vertical-align: top;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	border: 3px solid white;
	margin: 0 3px;
	background: #ffffff;
	cursor: pointer;
}

.slide {
	display: none;
}

#btn-1:checked ~ .slider-inner .slide:nth-child(1) {
  display: block;
}

#btn-2:checked ~ .slider-inner .slide:nth-child(2) {
  display: block;
}

#btn-3:checked ~ .slider-inner .slide:nth-child(3) {
  display: block;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background: #c1c1c1;
}

.features {
	margin-bottom: 80px;
}

.features-item {
	float: left;
  width: 240px;
	margin-right: 80px;
	text-align: left;
	line-height: 0;
}

.features-item:last-child {
	margin-right: 0;
}

.features-title {
	margin: 0;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	margin-top: 25px;
	padding-bottom: 18px;
}

.features-text {
	margin: 0;
	padding-bottom: 28px;
	font-size: 15px;
	line-height: 22px;
	font-weight: 500;
}

.features-buttons {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	padding: 10px 40px;
	color: #ffffff;
	font-size: 12px;
	line-height: 18px;
	font-weight: 500;
	font-family: 'Roboto', 'Arial', sans-serif;
	text-transform: uppercase;
	border: none;
  outline: none;
	text-decoration: none;
}

.features-buttons.red {
	background-color: #fb565a;
}

.features-buttons.red:hover,
.button:hover,
.btn:hover,
.slide-btn:hover {
	background-color: #d6494d;
}

.features-buttons.red:active,
.button:active,
.btn:active,
.slide-btn:active {
	background-color: #b63538;
}

.features-buttons.green {
	background-color: #00ca74;
}

.features-buttons.green:hover {
	background-color: #01a25e;
}

.features-buttons.green:active {
	background-color: #009053;
}

.features-buttons.yellow {
	background-color: #efc84a;
}

.features-buttons.yellow:hover {
	background-color: #d6ae2c;
}

.features-buttons.yellow:active {
	background-color: #c09b24;
}

.about-us {
	padding-top: 59px;
	padding-bottom: 74px;
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
}

.about-us-left {
	float: left;
	width: 572px;
}

.about-us-title {
	margin: 0;
	padding-bottom: 20px;
	font-size: 36px;
	line-height: 36px;
	font-weight: 500;
}

.about-us-text {
	margin: 0;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	margin-bottom: 46px;
}

.about-us-subtitle {
	margin: 0;
	padding-bottom: 26px;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	text-transform: uppercase;
}

.about-us-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.about-us-list li {
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 27px;
}

.about-us-list li:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	width: 25px;
	height: 2px;
	background-color: #fb565a;
}

.about-us-right {
	float: right;
	width: 243px;
	margin-right: 0;
}

.about-us-right p {
	padding-top: 55px;
}

.portfolio-list {
	margin-top: 46px;
	list-style: none;
	padding-bottom: 35px;
	border-bottom: 2px solid #eeeeee;
}

.portfolio-list li {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	opacity: 0.2;
}

.portfolio-list li:nth-child(2) {
	margin-right: 124px;
	margin-left: 120px;
}

.portfolio-list li:hover,
.portfolio-list li:active {
	opacity: 1.0;
}

.map {
	margin-top: 85px;
	background: url("../img/map.jpg") no-repeat;
	min-height: 417px;
	background-position: center;
}

.map .container {
	position: relative;
}

.point-map {
	position: absolute;
	top: 50%;
	right: -4%;
	margin-top: 105px;
	width: 225px;
	height: 190px;
	padding-right: 34px;
}

.map-contacts {
	position: absolute;
	top: 50%;
	left: 1%;
	margin-top: 80px;
	padding: 30px 23px 26px;
	width: 208px;
	height: 200px;
	background-color: #ffffff;
}

.map-contacts b {
	margin: 0;
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
}

.map-adress,
.map-phon {
	margin: 0;
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	color: #b8b8b8;
}

.map-adress {
	margin-top: 13px;
}

.map-phon {
	margin-top: 23px;
	margin-bottom: 33px;
}

.button {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	padding: 12px 55px;
	color: #ffffff;
	font-size: 12px;
	line-height: 18px;
	font-weight: 500;
	font-family: 'Roboto', 'Arial', sans-serif;
	text-transform: uppercase;
	border: none;
  outline: none;
	text-decoration: none;
	background-color: #fb565a;
}

.page-footer {
	margin-top: 77px;
	margin-bottom: 74px;
}

.footer-social {
	float: left;
	text-align: center;
}

.footer-social a {
	margin: 0;
	margin-right: 30px;
}

.footer-social a:last-child {
	margin-right: 0;
}

.social-btn {
	display: inline-block;
	vertical-align: top;
	width: 61px;
	height: 61px;
	font-size: 0;
	border-radius: 50px;
	background-color: #e1e1e1;
	color: #ffffff;
	text-align: center;
}

.social-btn span {
	font-size: 23px;
	line-height: 61px;
}

.social-btn:hover {
	background-color: #fb565a;
}

.social-btn:active {
	background-color: #d6494d;
}

.footer-friend {
	float: left;
	margin-left: 70px;
	padding-left: 10px;
}

.friend-invite {
	margin: 0;
	font-size: 36px;
	line-height: 36px;
	font-weight: 500;
}

.friend-discount {
	margin: 0;
	padding-top: 9px;
	font-size: 16px;
	line-height: 32px;
	font-weight: 500;
	color: #283136;
}

.filter {
	float: left;
	width: 240px;
	margin-right: 80px;
}

.filter-title {
	font-size: 18px;
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
	margin-top: 47px;
}

.filter-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.range-controls {
	position: relative;
	height: 41px;
	margin-top: 18px;
	margin-bottom: 14px;
	padding: 39px 20px 0 20px;
	border-radius: 5px;
	background: #f1f1f1;
}

.range-controls .scale {
	height: 2px;
	background: #d7dcde;
}

.range-controls .bar {
	height: 2px;
	width: 70%;
	background: #00ca74;
}

input[type="checkbox"],
input[type="radio"] {
	display: none;
}

.range-controls .toggle {
	position: absolute;
	top: 30px;
	left: 0;
	width: 4px;
  height: 4px;
  border: 8px solid #fff;
  background: #ababab;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 145px;
}

.prise-controls {
	font-size: 0;
}

.prise-controls label {
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
}

.prise-controls input {
	width: 60px;
	margin-left: 10px;
	padding: 10px;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	color: #283136;
	border: none;
	outline: none;
	border-radius: 5px;
	background: #f1f1f1;
}

.max-price {
	text-align: right;
}

input[type="radio"] + label,
input[type="checkbox"] + label{
	display: block;
	margin-bottom: 17px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	color: #283136;
	padding-left: 36px;
	position: relative;
	cursor: pointer;
	width: 180px;
}

input[type="radio"] + label::before {
	content: "\25cb";
	display: block;
	width: 25px;
	height: 27px;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 28px;
	font-family: "symbols-nerds";
	color: #c1c1c1;
}

input[type="radio"]:checked + label::before {
	content: "\25cf";
}

input[type="radio"] + label:hover::before,
input[type="radio"]:checked + label:hover::before,
input[type="checkbox"] + label:hover::before,
input[type="checkbox"]:checked + label:hover::before {
	color: #b5b5b5;
}

.layout-filter label:hover {
	color: #000000;
}

input:disabled + label {
	opacity: 0.40;
}

input[type="checkbox"] + label::before {
	content: "\2610";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 25px;
	height: 27px;
	font-size: 28px;
	font-family: "symbols-nerds";
	color: #c1c1c1;
}

input[type="checkbox"]:checked + label::before {
	content: "\2611";
}

.filter-choice button {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: 160px;
	min-height: 38px;
	margin-top: 58px;
	color: #000000;
	font-size: 12px;
	line-height: 18px;
	font-family: 'Roboto', 'Arial', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
	border-radius: 3px;
  outline: none;
	text-decoration: none;
	cursor: pointer;
}

.filter-choice button:hover {
	background-color: #e5e5e5;
}

.filter-choice button:active {
	background-color: #d5d5d5;
}

.content-catalog {
	float: left;
	width: 560px;
}

.sorting {
	margin-bottom:  24px;
}

.sorting-title {
	float: left;
	width: 105px;
	margin-right: 40px;
	font-size: 12px;
	line-height: 18px;
	font-weight: 500;
	font-family: 'Roboto', 'Arial', sans-serif;
	text-transform: uppercase;
}

.sorting-menu {
	float: left;
	width: 375px;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0;
}

.sign {
	float: right;
	width: 39px;
	margin: 0;
	padding: 0;
}

.sign-down a,
.sign-up a {
	color: #c1c1c1;
}

.sign-down {
	display: inline-block;
	vertical-align: middle;
	min-height: 10px;
	width: 15px;
	font-size: 0;
}

.sign span {
	font-size: 23px;
}

.sign-up {
	display: inline-block;
	vertical-align: middle;
	width: 15px;
	margin-right: 0px;
	font-size: 0;
}

.sign-down a:hover,
.sign-up a:hover {
	color: #b5b5b5;
}

.sign-down a:active,
.sign-up a:active {
	color: #000000;
}

.sign-down .sign-active {
	color: #00ca74;
}

.layout-sorting {
	display: inline-block;
	vertical-align: middle;
	margin-right: 40px;
}

.layout-sorting:last-child {
	margin-right: 0;
}

.layout-sorting a {
	font-size: 12px;
	line-height: 18px;
	font-family: 'Roboto', 'Arial', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
	opacity: 0.30;
	border-bottom: 1px dotted #00ca74;
}

.layout-sorting a:hover {
	color: #000000;
	opacity: 1.0;
	border-bottom: 1px solid #00ca74;
}

.layout-sorting a:active {
	color: #000000;
	opacity: 1.0;
	border-bottom: none;
}

.catalog {
	width: 560px;
	margin-bottom: 80px;
}

.item {
	padding: 0;
	margin: 0;
	font-size: 0;
}

.layout-item {
	display: inline-block;
	vertical-align: top;
	width: 240px;
	margin-right: 70px;
	margin-bottom: 80px;
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
	color: #283136;
}

.layout-item:nth-child(2n) {
  margin-right: 0;
}

.item-header {
	width: 240px;
	height: 30px;
	background-color: #797979;
	opacity: 0.10;
	border-top-left-radius: 5%;
	border-top-right-radius: 5%;
}

.layout-item:nth-child(2) .item-header {
	width: 240px;
	height: 30px;
	background-color: #797979;
	opacity: 1.0;
	border-top-left-radius: 5%;
	border-top-right-radius: 5%;
}

.item-header span {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 10px;
	margin: 8px 7px 8px 0px;
	border-radius: 50%;
	background-color: #ffffff;
}

.item-header span:first-child {
	margin-left: 13px;
}

.layout-item {
	position: relative;
}

.item-info-title a {
	font-size: 18px;
	line-height: normal;
	text-transform: uppercase;
	color: #000000;
	text-decoration: none;
}

.item-info {
	display: none;
	width: 200px;
	height: 200px;
	padding: 0;
	margin: 0;
	background-color: #ffffff;
	text-align: center;
	position: absolute;
	top: 50px;
	left: 25px;
}

.layout-item:nth-child(2) .item-info {
	display: block;
}

.item-info-title {
	margin-top: 30px;
	margin-bottom: 15px;
}

.item-info-text {
	margin: 0 20px 30px;
	text-align: center;
}

.layout-item:nth-child(4) .item-info-text {
	margin-bottom: 15px;
}

.btn {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: 140px;
	height: 35px;
	margin-bottom: 30px;
	padding-top: 10px;
	font-size: 18px;
	line-height: normal;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	border: none;
  outline: none;
	background-color: #fb565a;
}

.layout-item:hover .item-info {
	display: block;
}

.pagination {
	margin-top: 80px;
	width: 300px;
	font-size: 0;
}

.pagination  a {
	display: inline-block;
	line-height: 38px;
	min-width: 38px;
	height: 38px;
	font-size: 12px;
	font-weight: 500;
	text-align: center;
  vertical-align: middle;
	margin-right: 10px;
	background-color: #f1f1f1;
	text-decoration: none;
	color: #000000;
	border-radius: 5%;
}

.pagination .page-next {
	min-width: 140px;
	text-transform: uppercase;
	margin-right: 0;
}


.pagination  a:not(.page-active):hover {
	background-color: #e5e5e5;
}

.pagination  a:not(.page-active):active {
	background-color: #d5d5d5;
	box-shadow: inset 0 30px 0px -25px #b5b5b5;
}

.pagination .page-active {
	border: 2px solid #f1f1f1;
	background-color: #ffffff;
	min-width: 34px;
	height: 34px;
	line-height: 34px;
}

h1 {
	display: inline-block;
	vertical-align: middle;
	font-size: 40px;
	font-family: 'Roboto', 'Arial', sans-serif;
	line-height: normal;
	font-weight: normal;
	text-transform: uppercase;
	color: #000000;
}

.container-post {
	position: absolute;
	bottom: -1180px;
	left: 50%;
	margin-left: -335px;
	padding: 54px 80px 50px 90px;
	background: #ffffff;
	color: #000000;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.post-form {
	width: 460px;
	min-height: 312px;
}

.container-post-clouse {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 41px;
	height: 41px;
	font-size: 0;
	background-color: #fb565a;
	border-radius: 50%;
	border: 0;
	outline: 0;
	cursor: pointer;
}

.container-post-clouse::before,
.container-post-clouse::after {
	content: "";
	position: absolute;
	top: 17px;
	left: 7px;
	width: 25px;
	height: 5px;
	background-color: #ffffff;
}

.container-post-clouse::before {
	transform: rotate(45deg);
}

.container-post-clouse::after {
	transform: rotate(-45deg);
}


label {
	display: block;
	margin-bottom: 11px;
}

.half-width{
	display: inline-block;
	vertical-align: top;
	width: 50%;
	margin-left: -2px;
}

.half-width input[type="email"] {
	padding-right: 24px;
}

.post-form input {
	display: inline-block;
	vertical-align: baseline;
	width: 188px;
	height: 12px;
	margin-bottom: 24px;
	padding: 9px 14px;
	font-size: 12px;
	line-height: 18px;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	color: #000000;
	border: 2px solid #d7dcde;
	border-radius: 3px;
}

textarea {
	width: 428px;
	min-height: 110px;
	margin-bottom: 47px;
	padding: 9px 14px;
	font-size: 12px;
	line-height: 18px;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	color: #000000;
	border: 2px solid #d7dcde;
	border-radius: 3px;
}

.post-form input[type="text"]:hover,
textarea:hover {
	border-color: #a2a9ac;
}

.post-form input[type="text"]:focus,
textarea:focus {
	border-color: #56bffb;
}

.post-form button {
	width: 100%;
	height: 36px;
}
